<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Somos Especialistas En</h2>
        <h3 class="section-sub-title">Lo Que Hacemos</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4">
        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img
              loading="lazy"
              src="images/icon-image/service-icon1.png"
              alt="service-icon"
            />
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Albañilería</a></h3>
            <p>
              Trabajos de construcción y rehabilitación con los más altos
              estándares de calidad
            </p>
          </div>
        </div>
        <!-- Service 1 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img
              loading="lazy"
              src="images/icon-image/service-icon2.png"
              alt="service-icon"
            />
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Pintura</a></h3>
            <p>
              Soluciones de pintura profesional interior y exterior con acabados
              duraderos
            </p>
          </div>
        </div>
        <!-- Service 2 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img
              loading="lazy"
              src="images/icon-image/service-icon3.png"
              alt="service-icon"
            />
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Pladur</a></h3>
            <p>
              Instalación de sistemas de pladur para diseño y distribución de
              espacios
            </p>
          </div>
        </div>
        <!-- Service 3 end -->
      </div>
      <!-- Col end -->

      <div class="col-lg-4 text-center">
        <img
          loading="lazy"
          class="img-fluid"
          src="images/new/guy-white.jpg"
          alt="service-avater-image"
        />
      </div>
      <!-- Col end -->

      <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img
              loading="lazy"
              src="images/icon-image/service-icon4.png"
              alt="service-icon"
            />
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Alicatado</a></h3>
            <p>
              Revestimiento en azulejos y cerámica profesional en baños y
              cocinas
            </p>
          </div>
        </div>
        <!-- Service 4 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img
              loading="lazy"
              src="images/icon-image/service-icon5.png"
              alt="service-icon"
            />
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title">
              <a href="#">Reformas Integrales</a>
            </h3>
            <p>
              Soluciones completas de reforma y rehabilitación de viviendas y
              locales
            </p>
          </div>
        </div>
        <!-- Service 5 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img
              loading="lazy"
              src="images/icon-image/service-icon6.png"
              alt="service-icon"
            />
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title">
              <a href="#">Gestión de Seguridad</a>
            </h3>
            <p>
              Implementación de protocolos de seguridad en todos nuestros
              proyectos
            </p>
          </div>
        </div>
        <!-- Service 6 end -->
      </div>
      <!-- Col end -->
    </div>
    <!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!-- Service end -->
